<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<section class="home-contain1">
  <img src="images/vehicles/delorean.jpg" alt="Delorean automobile" width="500" height="255">
 <div id="home-offer">
    <h2>DMC Delorean</h2>
    <p>
      3 Cup holders<br>Superman doors<br>Fuzzy dice!
    </p>
    <span id="offerButton"><a href="#" title="Promotional offer">Own Now</a></span>
  </div>
</section>
 
<section class="home-contain3">
  <h2>Delorean DMC Reviews</h2>
  <div>
    <ul>
      <li>So fast it's almost like travelling in time. (4/5)</li>
      <li>Coolest ride on the road. (4/5)</li>
      <li>I'm feeling McFly! (5/5)</li>
      <li>The most futuristic ride of our day. (4.5/5)</li>
      <li>80's livin and I love it! (5/5)</li>
    </ul>
  </div>
</section>

<section class="home-contain2">
  <h2>Delorean Upgrades</h2>
  <div class="home-figgrid">
    <figure>
      <div class="figbox"> 
        <img src="images/upgrades/flux-cap.png" alt="" loading="lazy" width="65" height="57">
      </div>
      <a href="#">Flux Capacitor</a>
    </figure>
    <figure>
      <div class="figbox">
        <img src="images/upgrades/flame.jpg" alt="" loading="lazy" width="65" height="82">
      </div>
      <a href="#">Flame Decals</a>
    </figure>
    <figure>
      <div class="figbox">
        <img src="images/upgrades/bumper_sticker.jpg" alt="" loading="lazy" width="65" height="57">
      </div>
      <a href="#">Bumper Stickers</a>
    </figure>
    <figure>
      <div class="figbox">
        <img src="images/upgrades/hub-cap.jpg" alt="" loading="lazy" width="65" height="65">
      </div>
      <a href="#">Hub Caps</a>
    </figure>
   </div>
</section>